<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Announcement</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <h1>Edit Announcement Page</h1>
    <fieldset class="Annoucement">

         <form action="/announcement/<%= announcement.id %>?_method=PUT" method="POST">
            <label> Title:
                <input type="text" name="title" value="<%= announcement.title %> ">
            </label><br>
            <label> Description:
                <input type="text" value="<%= announcement.description %> ">
            </label><br>
        </fieldset>
    <fieldset class="Posted By">


            <label> Your Name:
                <input type="text" name="name" value="<%=announcement.name%>">
            </label><input type="submit" value="Update Announcement"><br>
        </fieldset>
        
        
    </form>
    <%- include('./partials/footer.ejs') %>
</body>
</html>