<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>announcement Details</title>
</head>
<body>
    <h1><%=Announcement.name%></h1>
     <h4><%=Announcement.description%></h5>
     
    <% if (Announcement.qty > 0){ %>
        <form action="/announcement/<%=Announcement._id%>?_method=PUT" method="post">
            <input type="submit" value="Buy">
        </form>
    <% } else { %>
        Not available for purchase.
        <% } %>
        
    <form action="/announcement/<%=Announcement._id%>?_method=DELETE" method="post">
    <input type="submit" value="Delete announcement">
    </form>
    <br><a href="/announcement/<%=Announcement._id%>/edit">Edit Announcement information</a><br>
    <a href="/announcement">Back to announcement List</a><br>
    <a href="/announcement/new">Add a New announcement</a>
</body>
</html>